<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Información</title>
</head>
<body>

    <h2>Información sobre la aplicación</h2>

    <p><strong>Creada por: </strong><span th:text="${desarrollador}">Un desarrollador</span></p>
    <p><strong>Fecha de creación: </strong><span th:text="${fecha}">Fecha F</span></p>
    <p><strong>Versión: </strong><span th:text="${version}">Versión actual</span></p>

</body>
</html>